html {
    box-sizing: border-box;
}


body {
    background: url("camps.jpg") no-repeat center center fixed;
}


.affix {
    margin-left: 0;
}

section{
    widht:100px;

}

.card {
    margin:auto;
    max-width:200px;
    min-width:200px;
    height:200px;
    box-shadow: 0 2px 3px rgba(0, 40, 0, 0.4);
    object-fit:cover;
    border-radius: 3px;
    background: rgba(24, 118, 28, 0.87);
    display:block;


}

form{
    padding: 20px;
    display: -webkit-inline-box;
    height:inherit;
}

div {
    color: black;
}

p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

table {

    max-width:100%;
}
