html {
    box-sizing: border-box;
}

.bottom-nav {
    text-align: center;
    color: ghostwhite;
    font-size: 15px;
    background-color: #42453D;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    float: left
}

body {
    background: url("camps.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

h1 {
    font-family: Lobster, cursive !important;
    color: #DEDEDE !important;
    text-align: center;
}


h2 {
    font-family: Lobster, cursive !important;

}

h3 {
    font-family: Lobster, cursive !important;
    color: #000 !important;
    text-align: center;
    font-size: 15px !important;
}

.navbar {
    width: 100%;
    font-family: Lobster, cursive;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.container-fluid .navbar-brand {
    height: 80px;
    width: auto;
}

.container-fluid .nav >li >a {
    font-size: medium;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #DEDEDE;
}

.container-fluid .navbar-toggle {
    padding: 10px;
    margin: 0px 15px 25px 0;
}

.container-fluid .nav a:hover {
    background-color: #90918E;
}
/*
.navbar-brand>img {
    height: 100%;
}*/

.affix {
    top: 0;
    width: 100%;
    margin-left: 0;
    z-index: 9999 !important;
}

fieldset {
    height: 50%;
    width: 60%;
    background: #ffffff;
    margin: auto;
    text-align: center;
}


fieldset input {
    text-align: center;
}

.right {
    float:right;
    padding-top: 27px;
}

.loggedIn {
    text-align:right;
    padding: 0px 15px 0px 0px;
    font-size: 12px;
    font-family: Lobster, cursive !important;
}
.table {

}
section{
    widht:100px;

}
.headTxt{
    font-size: 75px;
    font-family: Lobster, cursive !important;
    color: #DEDEDE !important;
    text-align: center;
    text-shadow:
            -0.5px -0.5px 0 #000,
            0.5px -0.5px 0 #000,
            -0.5px 0.5px 0 #000,
            0.5px 0.5px 0 #000;
}
.card {
    margin:auto;
    max-width:200px;
    min-width:200px;
    height:200px;
    box-shadow: 0 2px 3px rgba(0, 40, 0, 0.4);
    object-fit:cover;
    border-radius: 3px;
    background: rgba(24, 118, 28, 0.87);
    display:block;


}

form{
    padding: 20px;
    display: -webkit-inline-box;
    height:inherit;
}




div {
    color: black;
}

p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.maincontainer{
    background-color: #fff;
    opacity: 0.9;
    width: 70%;
    padding-top: 5%;
    justify-content: center;
    margin:auto;
}