
.darken {
    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            ),
            url(dark-tent.jpg);
}

body {
    background: url("montain.jpg") no-repeat center center fixed;

}


#texti {
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 5%;
    text-align: left;
    color: #DEDEDE !important;
    font-family: Cabin, sans-serif !important;
}

#texti button {
    color: #42453D;
}

#texti form {
    color: #42453D;
}

#description {
    margin-right: 20%;
    text-align: justify;
    color: #000 !important;
    font-family: Cabin, sans-serif !important;
    display: inline-block;
}

.mainContainer {
    display : flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    opacity : 0.7;
    margin: 4rem;
    justify-content: space-around;

}
.container-info {
    padding-right: 4rem;

}


.affix {
    margin-left: 0;
}

table {
    max-width:60%;
}

