.navbar {
    width: 100%;
    font-family: Lobster, cursive !important;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.container-fluid .navbar-brand {
    height: 80px;
    width: auto;
}

.container-fluid .nav >li >a {
    font-size: medium;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #DEDEDE;
}

.container-fluid .navbar-toggle {
    padding: 10px;
    margin: 0px 15px 25px 0;
}

.container-fluid .nav a:hover {
    background-color: #90918E;
}

.affix {
    top: 0;
    width: 100%;
    margin-left: 0;
    z-index: 9999 !important;
}

.darken {
    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            ),
            url(montain.jpg);
}

body {
    background: url("montain.jpg") no-repeat center center fixed;
}

.reviewContainer {
     padding-left: 5%;
     padding-top: 2%;
     background-color: white;
     opacity : 0.7;
     margin: 4rem;
}

#description {
    margin-right: 20%;
    text-align: justify;
    color: #000 !important;
    font-family: Cabin, sans-serif !important;
    display: inline-block;
}

.mainContainer {
    display : flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    opacity : 0.7;
    margin: 4rem;
    justify-content: space-around;
}

.container-info {
    padding-right: 4rem;
}

.affix {
    margin-left: 0;
}

table {
    max-width:60%;
}

.right {
    float:right;
    padding-top: 27px;
}

h1 {
    font-family: Lobster, cursive !important;
    color: #DEDEDE !important;
    text-align: center;
}

h2 {
    font-family: Lobster, cursive !important;
    color: #000 !important;
}

h3 {
    font-family: Lobster, cursive !important;
    color: #000 !important;
    font-size: 15px !important;
}

p {
    font-size: 2rem;
    text-align: -webkit-auto;
}

.loggedIn {
    text-align:right;
    padding: 0px 15px 0px 0px;
    font-size: 12px;
    font-family: Lobster, cursive !important;
}

.headTitle {
    font-size: 75px;
    font-family: Lobster, cursive !important;
    color: #DEDEDE !important;
    text-align: center;
    text-shadow:
            -0.5px -0.5px 0 #000,
            0.5px -0.5px 0 #000,
            -0.5px 0.5px 0 #000,
            0.5px 0.5px 0 #000;
}

.bottom-nav {
    text-align: center;
    font-family: Open Sans Condensed, sans-serif;
    color: ghostwhite;
    font-size: 15px;
    background-color: #42453D;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    float: left
}

.campname, .description2 {
    font-family: Open Sans Condensed, sans-serif !important;
    font-size: 16pt;
}

p {
    font-family: Open Sans Condensed, sans-serif !important;
    font-size: 16pt;
}

.contactinfo, .avgrating, .price, .address {
    font-family: Open Sans Condensed, sans-serif !important;
    font-size: 12pt;
}

.giverating {
    font-family: Open Sans Condensed, sans-serif;
    font-size: 12px;
}

.takkar {
    font-family: Open Sans Condensed, sans-serif;
    text-align: center;
}