body{
    background-color: #fff;
}


.main-container {
    padding: 5px;
    display: inline-flex;
    margin: auto;
}

.information-container {
    width: 400px;
    padding: 1px 150px 1px 1px;
}

.login-container {
    width: 300px
}

ul {
    text-align: center;
}
/*
.navbar {
    overflow: hidden;
    background-color: #333;
    top: 0;
    //z-index: 100;
    position: fixed;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}*/



table {

    max-width:60%;

}
