html{


}
button{
    font-family: Helvetica, cursive !important;
}
button:hover{

}

.campalot{
    margin: auto;
    text-align:center;
    width: 400px;
    background-color: rgba(300, 300, 300, 0.6);
}
.fronttxt{
    color: #000;
}

.front-logo{
    width: 500px;
}

.affix {
    top: 0;
    width: 100%;
    margin-left: 0;
    z-index: 9999 !important;
}

body {
    background: url("front.jpg") no-repeat center center fixed;
}

h2{
    font-size: xx-large

}

fieldset {
    height: 50%;
    width:90%;

    margin: auto;
    text-align: center;
}


.main-container {
    background-color: rgba(300, 300, 300, 0.6);
    width:80%;
    padding: 5px;
    display: inline-flex;
    margin: auto;

}

.information-container {
    background-color: rgba(300, 300, 300, 0.4);

    padding: 1px 10px 1px 10px;
    max-width: 150%;
    width: 150%;
}

.bottom-nav {
    text-align: center;
    color: ghostwhite;
    font-size: 15px;
    background-color: #42453D;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    float: left
}

html{
    text-align: center;
}

.login-container {
    padding: 10px;
}

h1 {
    font-family: Lobster, cursive !important;
    color: #000 !important;
    text-align: center;
}

h2 {
    font-family: Helvetica, cursive !important;
    color: #000 !important;
    text-align: center;
}

h3 {
    font-family: Helvetica, cursive !important;
    color: #000 !important;
    text-align: center;
    font-size: 15px !important;
}

p{
    font-family: Helvetica, cursive !important;
}