

body {
    background: url("help.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}


.howto{
    color: #DEDEDE !important;
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10%;
    justify-content: center;
}



p{
    font-family: Lobster, cursive !important;

}

.mainContainer {
    font-family: Lobster, cursive !important;
    display : flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    opacity : 0.7;
    margin: 4rem;
    justify-content: space-around;

}
.container-info {
    padding-right: 4rem;

}
/*
.navbar-brand>img {
    height: 100%;
}*/

.affix {

    margin-left: 0;
}


.navbar {
    width: 100%;
    font-family: Avenir, cursive;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.container-fluid .navbar-brand {
    height: 80px;
    width: auto;
}

.container-fluid .nav >li >a {
    font-size: medium;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #DEDEDE;
}

.container-fluid .navbar-toggle {
    padding: 10px;
    margin: 0px 15px 25px 0;
}

.container-fluid .nav a:hover {
    background-color: #90918E;
}
/*
.navbar-brand>img {
    height: 100%;
}*/

.affix {
    top: 0;
    width: 100%;
    margin-left: 0;
    z-index: 9999 !important;
}