body {
    background: url("northernlights-aurora.jpg") no-repeat center center fixed;
}

.maincontainer {
    display : flex;
    background-color: #1ACD65;
    opacity: 0.6;
    margin: 4rem;
}

.textContainer {
    padding: 4rem;
}

.formcontainer {
    padding-top: 4rem;
}

.affix {
    margin-left: 0;
}

table {
    max-width:60%;
}

