body {
    background: url("waterfall1.jpg") no-repeat center center fixed;

}
.welcomeTxt{
    background-color: white;
    opacity: 0.6;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;

}


.main-container {

    padding: 5px;
    display: inline-flex;
    margin: auto;
}

.information-container {
    width: 400px;
    padding: 1px 150px 1px 1px;
}

form{
    padding:20px;
}
/*
.navbar-brand>img {
    height: 100%;
}*/

.delete{
    padding:10px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA/klEQVRIie2WTQrCMBCFP63iOdx5CtGld3DhOVwUKrgSb+KB3NVriMa6aIppnGmm4kbwQcjLZJL5g0zgHTOgBCrjuAEH4R4ABoJsC+yBM3ACHspZB0yBtV+PJaWRIJv4eQVcNM8ibLSNoeIZPS4vuzabCBbA3POln3MgC4zG3Cn6DtjFhnLsRbUMFRVQdCkkzuaxUKpBiEVwSOMhsljQVWSo81sIfI4xUslA6IVTuIY3nVSKMgPX9FUDH3mqIRWBliItApMBS1q0CHrXoG8EX6uBGf8UJfH7KYohPrlGiE993JPvvDpU45FTOLQ7HcA15cWR+hvySRcrqb88LTwBOvZlFlH7oOQAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}

.affix {
    margin-left: 0;
}

fieldset {
    height: 50%;
    width: 100%;
    background: #ffffff;
    margin: auto;
    text-align: center;
}

input {
    display: inline-block;
    border: 1px solid #2d2d2d;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    color: rgba(0,0,0,1);
    outline: none;
    -webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) ;
    box-shadow: 0 0 6px 2px rgba(0,0,0,0.5) ;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    text-align: center;
}

input:focus {
    background: #e3e3e3;
}

.front-logo{
    width: 500px;
}
.container-description {
    display: flex;
}

#mainContainer{
    display: flex;

}
.container-info{
    display: flex;
    flex-direction: column;
}
div {
    color: black;
    padding: 1rem;
}

table {
    width: 300px;
    min-widht: 200px;
    max-width:60%;

}


.navbar {
    width: 100%;
    font-family: Avenir, cursive;
}

.navbar-brand>img {
    height: 100%;
    width: auto;
}

.container-fluid .navbar-brand {
    height: 80px;
    width: auto;
}

.container-fluid .nav >li >a {
    font-size: medium;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #DEDEDE;
}

.container-fluid .navbar-toggle {
    padding: 10px;
    margin: 0px 15px 25px 0;
}

.container-fluid .nav a:hover {
    background-color: #90918E;
}
/*
.navbar-brand>img {
    height: 100%;
}*/

.affix {
    top: 0;
    width: 100%;
    margin-left: 0;
    z-index: 9999 !important;
}