<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title th:include=":: #pageTitle">Layout Generic Title</title>
    <!-- Common styles and scripts -->
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="../../css/style.css" />
    <div th:include=":: #styleSheet"></div>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</head>
</html>